.page_root {
  background-color: rgba(255, 255, 255, 1);
  min-height: 100vh;

  .header {
    width: 100%;
    height: 189px;
    background: linear-gradient(0deg, #6DA9FF 0%, #2276F3 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 24px;

    .title {
      position: relative;
      width: 100%;
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 17px;
      font-family: PingFang SC;
      font-weight: 500;
      color: #FFFFFF;

      .logo {
        position: absolute;
        left: 0;
        display: flex;
        align-items: center;

        span {
          font-size: 19px;
          font-family: Arial;
          font-weight: 400;
          color: #FFFFFF;
          margin: 0 9px;
        }

        img {
          width: 16px;

          &:last-child {
            width: 15px;
          }
        }
      }

      .imgs {
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;

        img {
          width: 20px;
          margin-right: 16px;
        }

        .note {
          margin-right: 0;
        }
      }
    }

    .total_value {
      width: 100%;
      font-size: 34px;
      font-family: Arial;
      font-weight: bold;
      color: #FFFFFF;
      margin-top: 15px;
      word-break: break-all;
      margin-top: 32px;

      span {
        font-size: 13px;
        font-family: Arial;
        font-weight: 400;
        color: #FFFFFF;
        margin: 0 0 3px 8px;
      }
    }

    // .total {
    //   position: relative;
    //   width: 100%;
    //   height: 168px;
    //   background: rgba(255, 255, 255, 0.2);
    //   border-radius: 13px;
    //   // margin-top: 16px;
    //   display: flex;
    //   flex-direction: column;
    //   padding: 20px;

    //   .total_title {
    //     width: 100%;
    //     font-size: 17px;
    //     font-family: Arial;
    //     font-weight: 400;
    //     color: #FFFFFF;
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;

    //     img {
    //       width: 16px;
    //       height: 16px;
    //     }
    //   }

    //   .total_value {
    //     width: 100%;
    //     font-size: 34px;
    //     font-family: Arial;
    //     font-weight: bold;
    //     color: #FFFFFF;
    //     margin-top: 15px;
    //     word-break: break-all;

    //     span {
    //       margin-left: 12px;
    //       font-size: 13px;
    //       font-family: Arial;
    //       font-weight: 400;
    //       color: #FFFFFF;
    //       padding-bottom: 4px;
    //     }
    //   }

    //   .total_ex {
    //     width: 100%;
    //     font-size: 16px;
    //     font-family: Arial;
    //     font-weight: bold;
    //     color: #FFFFFF;
    //     display: flex;
    //     align-items: flex-end;
    //     justify-content: left;
    //     margin-top: 15px;

    //     &::after {
    //       content: '';
    //       margin-left: 12px;
    //       font-size: 10px;
    //       font-family: Arial;
    //       font-weight: 400;
    //       color: #FFFFFF;
    //       padding-bottom: 3px;
    //     }
    //   }

    //   .img {
    //     position: absolute;
    //     width: 119px;
    //     height: 85px;
    //     bottom: -24px;
    //     right: -16px;
    //   }
    // }
  }

  .notice_bar {
    width: 100%;
    height: 42px;
    background: #FBFCFF;
    color: rgba(47, 47, 47, 1);

    img {
      width: 25px;
      margin-right: 16px;
    }
  }

  .function {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    margin-top: 31px;

    .item {
      flex: 1 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        height: 41px;
      }

      span {
        font-size: 13px;
        font-family: Arial;
        font-weight: 400;
        color: #868686;
        margin-top: 1px;
      }
    }
  }

  .platform {
    width: 100%;
    padding: 0 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 27px;

    .platform_title {
      width: 100%;
      display: flex;
      justify-content: center;
      font-size: 17px;
      font-family: Arial;
      font-weight: bold;
      color: #1E253C;
      text-align: center;
    }

    .wallet_info {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 14px;

      .item {
        width: 100%;
        height: 162px;
        display: flex;
        align-items: center;
        background: url('~@/assets/tron/Home_slices/波场 2 拷贝.png') no-repeat;
        background-size: 100% 100%;
        padding: 23px 20px;

        &:last-child {
          background: url('~@/assets/tron/Home_slices/波场 2 拷贝 2.png') no-repeat;
          background-size: 100% 100%;
        }

        .info {
          flex: 1 0;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .info_title {
            font-size: 18px;
            font-family: PingFang SC;
            font-weight: 500;
            color: #1BA9F0;
            display: flex;
            flex-direction: column;

            &::after {
              content: 'Account';
              font-size: 13px;
              font-family: Arial;
              font-weight: 400;
              color: rgba(121, 143, 161, 0.4);
              margin-top: 12px;
            }
          }

          .info_value {
            width: 100%;
            word-break: break-all;

            .value {
              font-size: 13px;
              font-family: PingFang SC;
              font-weight: 500;
              color: #798FA1;

              &:first-child {
                &:after {
                  content: 'TRX';
                  margin: 0 7px;
                  font-size: 8px;
                  font-family: Arial;
                  font-weight: 400;
                  color: #798FA1;
                  line-height: 4px;
                }
              }

              &:last-child {
                // white-space: nowrap;
              }
            }
          }
        }
      }
    }

    .millionaire {
      width: 100%;
      height: 162px;
      background: url('~@/assets/tron/Home_slices/波场 2 拷贝 3.png') no-repeat;
      background-size: 100% 100%;
      margin-top: 17px;
      display: flex;

      .box {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;

        .platform_title {
          font-size: 16px;
          font-family: Arial;
          font-weight: bold;
          color: #FFFFFF;
          text-align: left;
        }
      }

      .tip {
        font-size: 11px;
        font-family: PingFang SC;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 15px;
        text-align: left;
      }

      .btn {
        padding: 0 40px;
        min-height: 18px;
        background: #00167B;
        border-radius: 1px;
        font-size: 11px;
        font-family: PingFang SC;
        font-weight: 500;
        color: #FFFFFF;
        display: flex;
        align-items: center;
      }
    }

    .wallet_info2 {
      width: 100%;
      display: flex;
      flex-direction: column;

      .item {
        width: 100%;
        height: 97px;
        background: url('~@/assets/tron/Home_slices/波场 2 拷贝 4.png') no-repeat;
        background-size: 100% 100%;
        display: flex;
        align-items: center;
        margin-top: 21px;

        &:last-child {
          background: url('~@/assets/tron/Home_slices/f36536af9afe841a43bb2797457537a6d6a8d29446745-Mdqlgc.png') no-repeat;
          background-size: 100% 100%;

          .info {
            align-items: flex-end;
          }
        }

        .info {
          flex: 1 0;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0 24px;

          .info_title {
            font-size: 18px;
            font-family: PingFang SC;
            font-weight: 500;
            color: #1BA9F0;
          }

          .info_value {
            margin-top: 20px;
            font-size: 15px;
            font-family: PingFang SC;
            font-weight: 500;
            color: #798FA1;
          }
        }
      }
    }

    .ablout {
      width: 100%;
      min-height: 162px;
      background: url('~@/assets/tron/波场 2 拷贝 7.png') no-repeat;
      background-size: 100% 100%;
      padding: 10px 20px;
      margin-top: 13px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .tip {
        min-height: 18px;
        padding: 0 8px;
        background: #FFD841;
        border-radius: 9px;
        font-size: 9px;
        font-family: PingFang SC;
        font-weight: 500;
        color: #F18D0D;
        width: max-content;
        display: flex;
        align-items: center;
      }

      .platform_title {
        font-size: 18px;
        font-family: Arial;
        font-weight: bold;
        color: #FFFFFF;
        width: max-content;
        margin-top: 10px;
      }

      .introduce {
        margin-top: 10px;
        font-size: 8px;
        font-family: PingFang SC;
        font-weight: 400;
        color: rgba(255, 255, 255,0.7);
        line-height: 13px;
        width: 60%;
        word-break: break-all;
      }
    }

    .brand {
      width: 316px;
      height: 94px;
      margin: 13px 0 124px;
    }
  }

  .dialog {
    max-height: 70vh;
    padding: 32px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #2F2F2F;
    line-height: 19px;
    overflow-y: scroll;

    /deep/ p {
      &:first-child {
        margin-top: 0;
      }

      margin-top: 8px;

      img {
        width: 100%;
      }

      a {
        color: rgba(75, 149, 254, 1);
      }
    }



    .btn {
      margin: 25px auto 0;
      width: 147px;
      height: 35px;
      background: rgba(75, 149, 254, 1);
      border-radius: 17px;
      font-size: 17px;
      font-family: PingFang SC;
      font-weight: 600;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}