.page_root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 13px 124px;

  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;

    .title {
      position: relative;
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 17px;
      font-family: PingFang SC;
      font-weight: 500;
      color: #FFFFFF;
    }

    .user {
      width: 100%;
      height: 75px;
      display: flex;
      align-items: center;
      // margin-top: 16px;

      img {
        width: 75px;
        height: 75px;
        margin-right: 17px;
      }

      span {
        font-size: 23px;
        font-family: Arial;
        font-weight: bold;
        color: #000000;
      }
    }

    .total {
      position: relative;
      width: 100%;
      min-height: 122px;
      background: url('~@/assets/tron/Mine_slices/形状 1 拷贝.png') no-repeat;
      background-size: 100% 100%;
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 12px 21px;

      .total_title {
        width: 100%;
        font-size: 16px;
        font-family: Arial;
        font-weight: bold;
        color: #FFFFFF;
      }

      .total_value {
        width: 100%;
        font-size: 34px;
        font-family: Arial;
        font-weight: bold;
        color: #FFFFFF;
        word-break: break-all;
      }

      .btns {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        span {
          font-size: 11px;
          font-family: PingFang SC;
          font-weight: 500;
          color: #D50A0A;
          padding: 9px 27px;
          background: #FFFFFF;
          border-radius: 3px;

          &:first-child {
            margin-right: 11px;
          }
        }
      }
    }
  }

  .quantity {
    width: 100%;
    width: 348px;
    min-height: 132px;
    background: #FFFFFF;
    box-shadow: 0px 2px 16px 0px rgba(19, 19, 20, 0.12);
    border-radius: 7px;
    margin-top: 16px;
    padding: 30px 26px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .content {
      position: relative;
      width: 100%;
      flex: 1 0;
      display: flex;
      align-items: center;

      .info {
        flex: 1 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .value {
          font-size: 18px;
          font-family: PingFang SC;
          font-weight: 500;
          color: #D50A0A;
          word-break: break-all;

          &:first-child {
            margin-bottom: 16px;
          }

          &::after {
            content: 'TRX';
            font-size: 10px;
            font-family: Arial;
            font-weight: 400;
            color: #D50A0A;
            margin: 0 0 5px 9px;
          }
        }

        .tip {
          font-size: 13px;
          font-family: PingFang SC;
          font-weight: 400;
          color: rgba(59, 59, 59, 1);
          line-height: 17px;
          margin-top: 16px;
          line-height: 16px;
        }
      }
    }
  }

  .services {
    width: 100%;
    background: #FFFFFF;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    .item {
      width: 100%;
      height: 80px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(230, 230, 230, 0.6);

      &:last-child {
        border-bottom: none;
      }

      img {
        width: 41px;
        height: 41px;
        margin-right: 15px;
      }

      span {
        flex: 1 0;
        font-size: 16px;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: #000000;
      }
    }
  }
}