.page_root {
  width: 100%;
  min-height: 100vh;
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 0 13px 76px;
  background: url('~@//assets/tron/Mine_slices/波场 2.png') no-repeat;
  background-size: 100% 329px;

  .header {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-top: 16px;

    .user {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;

      img {
        width: 84px;
        height: 84px;
      }

      span {
        font-size: 17px;
        font-family: Arial;
        font-weight: bold;
        color: #FFFFFF;
        margin-top: 16px;
      }
    }

    .total {
      position: relative;
      width: 100%;
      min-height: 57px;
      padding: 21px 17px;
      background: #FFFFFF;
      border-radius: 4px;
      margin-top: 21px;
      display: flex;
      justify-content: space-between;

      .total_title {
        flex: 1 0;
        font-size: 17px;
        font-family: Arial;
        font-weight: 400;
        color: #2A529E;
        text-align: left;
      }

      .total_value {
        flex: 1 0;
        font-size: 17px;
        font-family: Arial;
        font-weight: 400;
        color: #2A529E;
        text-align: right;
        word-break: break-all;
      }
    }
  }

  .funtion {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 48px;

    .part {
      width: 152px;
      height: 36px;
      background: #29529E;
      border-radius: 4px;
      font-size: 14px;
      font-family: PingFang SC;
      font-weight: 500;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .app_title {
    width: calc(100% - 20px);
    margin: 29px auto 0;
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
    color: #053464;
  }

  .quantity {
    width: 100%;
    min-height: 141px;
    background: #FFFFFF;
    box-shadow: 0px 7px 13px 0px rgba(34, 78, 155, 0.16);
    border-radius: 4px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 22px 19px;

    .tip {
      font-size: 11px;
      font-family: PingFang SC;
      font-weight: 400;
      color: #29529E;
      line-height: 16px;
    }

    .info {
      flex: 1 0;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 30px;

      .value {
        flex: 1 0;
        font-size: 27px;
        font-family: Arial;
        font-weight: bold;
        color: #29529E;
        word-break: break-all;
        display: flex;
        flex-direction: column;
        align-items: center;

        &::after {
          content: 'TRX';
          font-size: 13px;
          font-family: Arial;
          font-weight: 400;
          color: #29529E;
          margin-top: 10px;
        }
      }
    }
  }

  .services {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 7px 13px 0px rgba(34, 78, 155, 0.16);
    border-radius: 4px;
    padding: 0 16px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;

    .item {
      width: 100%;
      height: 88px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(230, 230, 230, 0.5);

      img {
        width: 51px;
        height: 51px;
        margin-right: 18px;
      }

      span {
        flex: 1 0;
        font-size: 16px;
        font-family: Arial;
        font-weight: bold;
        color: #0A3867;
      }
    }
  }
}